body{ 
    font-family: 'Roboto', sans-serif;
    color: #E5E5E5;
    
}

/*-------шапка главная-------------*/

.header-glavna { background: #FFFFFF;
    
}
.header-glavna-logo {
    font-family: 'Raleway';

font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;

color: #2196F3;
}
.header-glavna-nav {
    
}
.header-glavna-link {
    list-style: none;
    text-decoration: none;

  
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    color: #212121;;
}
.header-glavna-link :hover {color: #2196F3;}
.header-glavna-link :focus {color: #2196F3;}

.header-glavna-link-links { 
}
.header-glavna-contact {
    
}
.header-glavna-contacnlink { list-style: none
}
.header-glavna-contacnlink :hover {color: #2196F3;}
.header-glavna-tel {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: #757575;
}
/*-------кнопка-------------*/
.section-glavna-button { background-color: #2F303A;
}
.section-glavna-button-logo {
    
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    
        color: #FFFFFF;
}
.sec-glavna-button {
    background: #2196F3;
    cursor: pointer;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        
        
            font-weight: 700;
            font-size: 16px;
            line-height: 1.9;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.06em;
        
            color: #FFFFFF;
}

/*-------первая секция-------------*/
.section-odin {
    background-color: #FFFFFF;
}
.section-odin-list {
}
.section-odin-list-link {
}
.section-odin-logo {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}
.section-odin-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;

    color: #757575;
}

/*-------секция с фото-------------*/
.glavna-photo { background: #E5E5E5;
}
.glavna-photo-logo {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.glavna-photo-link {
}
.glavna-photo-lins {
}

/*-------наша команда-------------*/
.comanda { background-color: #F5F4FA;
}
.comanda-logo {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.comanda-link {
}
.comanda-lins {
}
.comanda-mini-logo {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.comanda-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.03em;

    color: #757575;
}

/*-------концовка-------------*/
.footer-glavna {background-color: #2F303A;
}
.footer-glavna-logo { font-family: 'Raleway';
    
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.footer-glavna-adress {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    /* or 171% */

    letter-spacing: 0.03em;

    color: #FFFFFF;
}
.footer-glavna-link {
}
.footer-glavna-tel:hover {
    color: #2196F3;
}
.footer-glavna-lins {
}
.footer-glavna-tel {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    /* or 171% */

    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}















/*-------портфолио-------------*/


/*--секция шапка портфолио ---*/
.header{background-color:#FFFFFF ;

 }

.header-logo{ font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: #2196F3;

}

.header-nav{

}
.header-list {}

.header-li { list-style: none}


.header-li :hover { color: #2196F3; }

.header-a{ 
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #212121;

}
.header-contacs {list-style: none;}

.header-mail { text-decoration: none;
    list-style: none;
   
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color: #757575;

}


/*--секция 1 портфолио ---*/
.section-button {background-color: #ffff;
}

.section-ul { list-style: none;
    
}
.section-li .section-ul :hover {
    color: #ffff;
}

.section-li :hover {
    background-color: #2196F3;
    cursor: pointer;
}
.section-li { 
}

.section-butn {
    
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    /* identical to box height, or 162% */

    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;}


    
/*--секция галерея портфолио ---*/
.section-galeri { background: #E5E5E5;
}
.section-galeri-ul {
}
.section-galeri-list {
}
.section-galeri-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    /* identical to box height, or 200% */

    letter-spacing: 0.06em;

    color: #212121;
}
.section-galeri-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    /* identical to box height, or 188% */

    letter-spacing: 0.03em;

    color: #757575;
}
/*--секция конец портфолио ---*/
.footer {background: #2F303A ;
}
.footer-logo {font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    letter-spacing: 0.03em;

    color: #2196F3;
}
.footer-adress {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    color: #FFFFFF;
}
.footer-ul {
}
.footer-list {list-style: none;
}
.footer-tel {
    text-decoration: none;
    
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}